/*CSS Reset*/
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.aboutme {
  height: 100vh;
  display: flex;
  justify-content: center;
  background-color: rgba(248, 239, 228, 0.5);
}

.projects {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  background-color: rgba(248, 239, 228, 0.5);
}

.contactme {
  height: 80vh;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  background-color: rgba(248, 239, 228, 0.5);
  font-size: 2rem;
}

.nav_bar {
  background-color: #3c3c3c;
  box-shadow: 0px 0px 5px 10px rgba(94, 130, 147, 0.2);
  font-size: 1.7rem;
}

.nav_item_link {
  margin: 10px;
  color: #f5f5f5;
  border-bottom: 3px solid transparent;
  transition: all 0.3s;
}

.nav_item_link:hover {
  color: #ffff5c;
  transform: translateY(-3px);
  border-bottom: 3px solid #faff7f;
}

.nav_item_link:active {
  transform: translateY(2px);
}

.nav_logo {
  position: absolute;
  top: 0.5em;
  left: 1em;
  font-weight: 600;
  letter-spacing: 0.1em;
  text-decoration: none;
  color: #f5f5f5;
  margin: 10px;
  transition: all 0.3s;
}

.nav_logo:hover {
  color: #ffff5c;
  border-radius: 50px;
  box-shadow: 0px 0px 5px 5px #ffff5c;
  transform: translateY(-1px);
}

.nav_logo:active {
  transform: translateY(2px);
}

.aboutme_container {
  height: 100%;
  width: 70%;
  font-size: 1.6em;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

.aboutme_img {
  width: 300px;
  height: 300px;
  position: relative;
}

.section_title {
  font-size: 4rem;
  color: #282120;
  text-decoration: underline;
}

.aboutme_span {
  background-color: #fad02c;
  height: 320px;
  width: 320px;
  border-radius: 500px;

  display: flex;
  justify-content: center;
  align-items: center;
}

.aboutme_p {
  text-align: center;
  width: 80%;
}

.aboutme_p a {
  color: inherit;
}

strong:hover {
  background-color: #fad02c;
}

.aboutme_p_container {
  text-align: center;
}

.projects_container {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
}

.contactme_container_info {
  width: 50%;
  height: 50%;
  border-radius: 20px;
  font-size: 3rem;

  display: flex;
  justify-content: space-evenly;
}

.contactme_container_info a {
  text-decoration: none;
  color: inherit;
  border-bottom: 2px solid transparent;
  transition: all 0.2s;
}

.contactme_container_info a:hover {
  border-bottom: 2px solid black;
}
