/*CSS Reset*/
* {
  padding: 0;
  margin: 0;
}

.aboutme {
  background-color: yellow;
  height: 100vh;
}

.projects {
  background-color: blue;
  height: 100vh;
}

.contactme {
  background-color: green;
  height: 100vh;
}

.nav_div {
  background-color: antiquewhite;
}
